.controls{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-bottom: 10px;
}
.controls a{
    margin: 0 50px;
    margin-top: 10px;
    height: 50px;
    background: white;
    width: 120px;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 15px 0 #D8D2FC;
    text-decoration: none;
    color: black;
}
.controls a  span{
    text-align: center;
    font-size: 16px;
}
.controls a:hover{
    cursor: pointer;
    font-weight: bold;
}



.controls a::after,.controls a::before{
    content: "";
    z-index: -75;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%);
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    top: 0px;
    width: 50px;
    height: 50px;
}
.controls a::after{
    left: -25px;
    box-shadow: 0 4px 15px 0 #D8D2FC;
}
.controls a::before{
    right: -25px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 50%);
}
.controls a img{
    width: 30px;
    height: 30px;
    position: relative;
    left: -12.5px;
    z-index: 100;
}
/* @media (max-width: 1200px) {

    .sidebar-container{
      flex-basis:100px;
    }
} */