/* form h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    height: 30px;    
    margin-top: 15%;
    margin-bottom: 5%;
    color: rgba(38, 33, 70,0.8);
}
.confirm-form{
    font-size: 12px;
    color: rgb(13, 152, 54);
    text-align: center;
} */