*{
  margin: 0;
  padding: 0;
}
/**Estilos del layout**/

body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background: rgb(216,210,252);
  background: linear-gradient(136deg, rgba(216,210,252,1) 0%, rgba(253,226,224,1) 28%, rgba(230,228,234,1) 59%, rgba(224,233,244,1) 100%);
  padding: 60px 35px 35px 35px ;
}
#root{
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

.sidebar-container{
  flex-basis:200px;
  background: rgba(255,255,255,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container{
  padding: 0 20px;
  flex:1;
  background: rgb(239,242,246,0.8);
  background: linear-gradient(136deg, rgba(239,242,246,1) 0%, rgba(246,227,235,1) 48%, rgba(213,222,237,1) 93%);
  display: flex;
  flex-direction: column;
}
.main{
  background: white;
  flex: 1;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 2%;
  box-shadow: 0 4px 15px 0 rgba(216, 210, 252,0.1);
}
/* Estilos Generales */
h2{
  font-size: 20px !important;
}
.section{
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-scroll{
  overflow-x:hidden;
  overflow: none;
}
.tabla{
  min-width: 700px;
}
.tabla tbody tr{
  height: 20px !important;
  box-sizing: border-box;
}

.my-btn{
  padding: 0 !important;
  border: none;
}
.my-btn:hover{
  cursor: pointer;
  transform: scale(1.05);
}
.content-paginacion{
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center; 
}
.content-paginacion ul{
  list-style: none;
  display: flex;

}
.content-paginacion ul li{
  flex: 1;
  text-align: center;
  width: 40px;
  height: 30px;
  border: 2px solid;
  margin: 0 5px;
  border-radius: 15%;
}
.content-paginacion ul li:nth-child(2){
  background: #000;
  color: white;
}

.formulario{
  border-radius: 2%;
  box-shadow: 0px 0px 5px 0px rgba(1,1,1,0.5);
  border: 1px solid rgba(1,1,1,0.2);
  padding: 15px 10px;
  max-width: 750px;
  min-width: 600px;
}
.formulario-modal{
  border-radius: 2%;
  box-shadow: 0px 0px 5px 0px rgba(1,1,1,0.5);
  border: 1px solid rgba(1,1,1,0.2);
  padding: 15px 10px;
  width: 100%;
}

/*Layout para medidas menores a 1200px*/
@media (max-width: 1000px) {

  .sidebar-container{
    flex-basis:100px;
  }
}
@media (max-width: 900px) {
  #root{
    flex-direction: column;
  }
  .sidebar-container{
    height: 100px;
  }
}
@media (max-width: 600px) {
  #root{
    width: 400px;
  }
}